<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<meta name="description" content="Having trouble seeing the light at the end of the debt tunnel? This app gives real estimates for when you're gonna be free.">
		<meta name="theme-color" content="#3f51b5">
		<title>Debt Destroyer</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-84326776-3', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='https://www.google-analytics.com/analytics.js'></script>
		<script src="vendor.js" defer></script>
		<script src="bundle.js" defer></script>
    </head>
    <body>
		<div id="root">
			<header class="site-header">
				<div class="max-width-container">
					<md-toolbar>
						<md-button class="md-icon-button" @click.native="handleMenuButtonPressed">
							<md-icon>menu</md-icon>
						</md-button>

						<h2 class="md-title" style="flex: 1">
							Debt Destroyer
						</h2>

						<md-button class="md-icon-button" @click.native="handleAboutButtonPressed">
							<md-icon>help</md-icon>
						</md-button>
					</md-toolbar>
					<md-sidenav md-theme="default" class="md-left" :class="{'md-active': viewState.isSideNavOpen}">
						<md-toolbar>
							<div class="sidenav-header__container">
								<div class="sidenav-header__logo">
									<img src="img/android-icon-192x192.png" alt="">
								</div>
								<h2>
									Debt Destroyer
								</h2>
							</div>
							<div>
								<md-button class="md-icon-button" @click.native="handleMenuButtonPressed">
									<md-icon>
										close
									</md-icon>
								</md-button>
							</div>
						</md-toolbar>
						<md-list>
							<md-list-item class="md-button" @click.native="clearLocalStorageData">
								<md-avatar class="md-avatar-icon">
									<md-icon>delete</md-icon>
								</md-avatar>

								<div class="md-list-text-container">
									Clear Local Storage
								</div>
							</md-list-item>
						</md-list>
					</md-sidenav>
				</div>
			</header>
			<main>
				<div class="max-width-container">
					<div class="flex-grid">
						<div class="user-selections">
							<p>
								Select your debt pay-off method <button class="button" @click="handlePayOffHelpButtonPressed">?</button>
							</p>
							<div>
								<md-radio name="debt-method" md-value="snowball" @change="handleDebtMethodChanged" v-model="viewState.debtMethod">Snowball</md-radio>
								<md-radio name="debt-method" md-value="avalanche" @change="handleDebtMethodChanged" v-model="viewState.debtMethod">Avalanche</md-radio>
							</div>
						</div>
						<div class="user-selections">
							<md-input-container>
								<label>
									Extra Contributions
								</label>
								<md-input placeholder="How much extra can you afford per month?" type="number" @input.native="handleExtraContributionsChanged" v-bind:value="userData.extraContributions"></md-input>
							</md-input-container>
						</div>
					</div>
					<user-debts :debts="userData.debts" :edit-mode="viewState.editMode" :handle-delete-debt-button-pressed="handleDeleteDebtButtonPressed" :handle-value-changed="handleDebtValueChanged"></user-debts>
					<add-debt-form v-if="viewState.addDebtMode"></add-debt-form>
					<div id="chart_container"></div>
					<md-button class="md-fab md-fab-bottom-right" @click.native="handleNewDebtButtonPressed">
						<md-icon>add</md-icon>
					</md-button>
					<modal-dialog v-if="viewState.isPayOffHelpModalOpen" title="Debt Pay Off Methodology" :handle-close-requested="handlePayOffHelpButtonPressed">
						<div slot="body">
							<p>
								Snowball method sorts debts by <em>lowest to highest balance</em>
							</p>
							<p>
								Avalanche (or Stack) method sorts debts by <em>highest to lowest interest rate</em>
							</p>
							<p>
								Avalanche is technically the most cost-effective method because you end up
								paying less interest overall. This isn't as much of an issue if all of your
								debts have low interest rates or if you're going to be paying them off quickly
							</p>
							<p>
								While Snowball isn't the most cost-effective method, the psychological benefits
								of closing off accounts are well-documented and for most people, this is the
								best way to keep motivated and focused on your goals (hence, the snowball effect).
							</p>
							<p>
								Snowball was popularised by Dave Ramsey and the Harvard Business Review has
								recently noted that the Snowball method is the best strategy for paying off card
								debt. You can read that article here:
								<a href="https://hbr.org/2016/12/research-the-best-strategy-for-paying-off-credit-card-debt">
									https://hbr.org/2016/12/research-the-best-strategy-for-paying-off-credit-card-debt
								</a>
							</p>
						</div>
						<div slot="footer">
							<md-button class="md-raised md-primary" @click.native="handlePayOffHelpButtonPressed">
								Ok
							</md-button>
						</div>
					</modal-dialog>
					<modal-dialog v-if="viewState.isAboutModalOpen" title="About Debt Destroyer" :handle-close-requested="handleAboutButtonPressed">
						<div slot="body">
							<p>
								Debt Destroyer was created by <a href="https://lukeboyle.com">Luke Boyle</a>. Many
								people have a hard time seeing a light at the end of their debt tunnel. This app
								gives accurate visualisations to show people that they can be debt free with their
								current budget.
							</p>
							<p>
								To report an issue, visit the Github repo at
								<a href="https://github.com/3stacks/debt-destroyer/issues/">https://github.com/3stacks/debt-destroyer</a>.
							</p>
							<h2>
								Privacy
							</h2>
							<p>
								Debt Destroyer <em>does not</em> send or store any personal data. Data is written to
								your browser's local storage. If you are using a shared computer and are worried about
								your privacy, clear local storage in the menu after use or consider using an
								Incognito/Private tab. I will never store/distribute information.
							</p>
							<h2>
								Roadmap
							</h2>
							<div style="text-align: left;">
								<p>
									Currently planned upcoming features:
								</p>
								<ul>
									<li>
										Sharing your debt state
									</li>
									<li>
										Saving images of your graphs
									</li>
								</ul>
							</div>
						</div>
						<div slot="footer">
							<md-button class="md-raised md-primary" @click.native="handleAboutButtonPressed">
								Ok
							</md-button>
						</div>
					</modal-dialog>
				</div>
			</main>
		</div>
	</body>
</html>