<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
        <title>Debt Destroyer</title>
        <link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://unpkg.com/vue-material@0.7.1/dist/vue-material.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', '', 'auto');
			ga('send', 'pageview');
		</script>
		<script src="vendor.js" defer></script>
		<script src="bundle.js" defer></script>
    </head>
    <body>
		<div id="root">
			<header>
				<div class="max-width-container">
					<md-toolbar>
						<md-button class="md-icon-button">
							<md-icon>menu</md-icon>
						</md-button>

						<h2 class="md-title" style="flex: 1">
							Debt Destroyer
						</h2>

						<md-button class="md-icon-button">
							<md-icon>help</md-icon>
						</md-button>
					</md-toolbar>
				</div>
			</header>
			<main>
				<div class="max-width-container">
					<div class="flex-grid">
						<div class="user-selections">
							<p>
								Select your debt pay-off method <button class="button" @click="handlePayOffHelpButtonPressed">?</button>
							</p>
							<div>
								<label>
									Snowball
									<input type="radio" name="debt-method" value="snowball" @change="handleDebtMethodChanged" checked>
								</label>
						</div>
							<div>
								<label>
									Avalanche
									<input type="radio" name="debt-method" value="avalanche" @change="handleDebtMethodChanged">
								</label>
							</div>
							<modal-dialog v-if="viewState.isPayOffHelpModalOpen" title="Debt Pay Off Methodology" :handle-close-requested="handlePayOffHelpButtonPressed">
								<div slot="body">
									<p>
										Hello
									</p>
								</div>
								<div slot="footer">
									<md-button class="md-raised md-primary" @click.native="handlePayOffHelpButtonPressed">
										Accept
									</md-button>
								</div>
							</modal-dialog>
						</div>
						<div class="user-selections">
							<md-input-container>
								<label>
									Extra Contributions
								</label>
								<md-input placeholder="How much extra can you afford per month?" type="number" @input.native="handleExtraContributionsChanged" v-bind:value="userData.extraContributions"></md-input>
							</md-input-container>
						</div>
					</div>
					<user-debts :debts="userData.debts" :edit-mode="viewState.editMode" :handle-delete-debt-button-pressed="handleDeleteDebtButtonPressed" :handle-value-changed="handleDebtValueChanged"></user-debts>
					<add-debt-form v-if="viewState.addDebtMode"></add-debt-form>
					<div id="chart_container"></div>
					<debt-story v-if="userData.processedDebts" :user-data="userData"></debt-story>
					<md-button class="md-fab md-fab-bottom-right" @click.native="handleNewDebtButtonPressed">
						<md-icon>add</md-icon>
					</md-button>
				</div>
			</main>
		</div>
	</body>
</html>