@import "helpers/resets";
@import "helpers/utils";
@import "helpers/settings";
@import "helpers/mixins";

.component__text-field-toggle {
	label {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 1rem;

		&:hover {
			input {
				border-color: #00d1b2;
			}
		}
	}

	input {
		&:focus {
			border-color: #00d1b2;
		}
		border: 1px solid transparent;
		-webkit-appearance: none;
		outline: none;
		line-height: 1rem;
		transition: border-color 0.25s ease-out;
		padding: 0.5rem;
		font-size: 1.6rem;
	}
}

.component__user-debt {
	margin-bottom: 1rem;
	padding: 1rem;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
	&__container {
		@include grid((
			'x x x',
		));
	}
}