@import "helpers/resets";
@import "helpers/utils";
@import "helpers/settings";
@import "helpers/mixins";

.component__text-field-toggle {
	label {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 1rem;

		&:hover {
			input {
				border-color: #00d1b2;
			}
		}
	}

	input {
		&:focus {
			border-color: #00d1b2;
		}
		width: 60%;
		border: 1px solid transparent;
		-webkit-appearance: none;
		outline: none;
		line-height: 1rem;
		transition: border-color 0.25s ease-out;
		padding: 0.5rem;
		font-size: 1.6rem;
	}
}

.flex-label {
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.flex-grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.user-debt {
	@include put-in-rows(3, 30px);
}

main {
	padding: 30px;
}

.md-button.md-fab.md-fab-bottom-right.md-theme-default {
	position: fixed;
}

.max-width-container {
	max-width: 1024px;
	margin: 0 auto;
}

header {
	background-color: #3f51b5;
}

.user-selections {
	@include put-in-rows(2, 30px);
}