@import "../helpers/mixins";
@import "../helpers/settings";

* {
	box-sizing: border-box;
	margin-top: 0;
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 62.5%;
}

// Ensure images don't bleed out of their containers
picture,
svg,
img {
	max-width: 100%;
}

// Resets for older browsers
picture {
	display: block;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	text-transform: uppercase;
}

figure {
	margin: 0;
}

main {
	padding: 30px 0;
}

body {
	margin: 0;
	background-color: $background-color;
	font-family: "Helvetica", "Arial", sans-serif;
	color: $primary-color;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 400;
}

.md-button.md-fab.md-fab-bottom-right.md-theme-default {
	position: fixed;
}

.md-sidenav-content {
	.md-toolbar.md-theme-default {
		align-items: flex-start;
		flex-flow: row nowrap;
		justify-content: flex-end;
	}
	.md-list {
		padding: 0 !important;
		.md-list-item {
			margin: 0 !important;
		}
	}
	.md-list-item-container {
		padding: 0 !important;
	}
}

.md-toolbar.md-theme-default {
	.md-title {
		font-size: 16px;
		@include bp-min(321px) {
			font-size: 20px;
		}
	}
}