@import "settings";

.max-width-container {
	width: 100%;
	max-width: $content-width;
	margin: 0 auto;
	padding: 0 20px;
}

.flex-label {
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.flex-grid {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.cloak {
	opacity: 0 !important;
}